<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angularjs" version="1.5.3" targetFramework="net451" />
  <package id="AngularJS.Core" version="1.5.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc.FixedDisplayModes" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc.ru" version="4.0.20710.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20715.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor.ru" version="2.0.20715.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client.ru" version="5.2.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core.ru" version="5.2.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.30506.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost.ru" version="4.0.30506.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages.ru" version="2.0.20710.0" targetFramework="net451" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net451" />
  <package id="Microsoft.Net.Http.ru" version="2.0.20710.0" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net451" />
</packages>